/* You can add global styles to this file, and also import other style files */
@import "variables";
@import "Components/loader";
@import "pages/pages";

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; min-height: 100vh; }
.full-width{
    width: 100% !important;
}

.mat-snack-bar-container{
    background-color:#a6d8c8 !important;
.snack-bar{
    color: white !important;
}
  }
