.dropzone {
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 200px;
    width: 70%;
    max-width: 800px;
    background: white;
    margin: auto;
  
    &.hovering {
      border: 2px solid #f16624;
      color: #dadada !important;
    }
  }
  .file{
      display: none;
  }
  .upload-progress{
      margin: 20px;
      max-width: 80vw;
  }
  .form{
    max-width: 80vw;
  }
  .full-width{
    width:100%;
  }
  .primary{
  
    transition: box-shadow 280ms cubic-bezier(.4,0,.2,1);
    display: inline-flex;
    padding: 7px 12px;
    border-radius: 16px;
    align-items: center;
    cursor: default;
    min-height: 32px;
    height: 1px;
    margin: 4px;
    background-color: #3f51b5;
    color: #fff;
  }
  .accent{
   
    transition: box-shadow 280ms cubic-bezier(.4,0,.2,1);
    display: inline-flex;
    padding: 7px 12px;
    border-radius: 16px;
    align-items: center;
    cursor: default;
    min-height: 32px;
    height: 1px;
    margin: 4px;
    background-color: #ff4081;
    color: #fff;
  }
  .image-container img{
    max-height: 200px;
  }
  .image-wrapper{
    border: solid 1px ghostwhite;
  }
  
  @media (min-width: 799px) {
    .file-input {
      min-width: 400px;
    }
    .upload-progress{
      max-width: 400px;
  }
  .form{
    max-width: 400px;
  }
  }
  